        <title>Register Form Tutorial</title>
		<style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>

			<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

		<div class="login-form">
			<form action='/login/signup' method='post' id="registers">
				<h1>Register Form</h1>
                    <input type="text" name="name" id="name" placeholder="Name" required>
                    <input type="text" name="surname" id="surname" placeholder="Surname" required>
					<input type="text" name="username" id="username" placeholder="Username" required>
					<input type="password" name="password" id="password" placeholder="Password" required>
					<input type="text" name="email" id="email" placeholder="Email" required>
					<input type="submit" class="btn btn-primary register" value="Register">
			</form>
		</div>

		<script>
			$( ".register" ).click(function(event) {
				event.preventDefault();
	 
				$.post("/login/signup", $( "#registers" ).serialize(), function( data ) {
				
					
					 $( "#registers")[0].reset();
					
					 if (data.error) {
						
						$(".register").notify(data.message, "error");
					
					 } else {
					
						window.location.replace('/login');
						
						
						
					 }
					 
					 
					 
				 });
				 
			 });
			</script>

